.login-custom-bg {
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
	left:0;
	background-image: url("../images/auth/front-auth-bg.jpg");
	background-size: cover;

	z-index:0;

}

.login-color-bg {
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
	left:0;
	background-color: rgba(40,60,80, 0.6);

	z-index:0;
}

.login-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	z-index: 999;

	.login-inner {
		display: table-cell;
		vertical-align: middle;
		width:100%;
		height:100%;
		text-align: center;

		.login-box {
			margin: 0 auto;
			padding-top:25px;
			background-color: rgba(255,255,255,0.8);

			.login-logo {

				margin-bottom: 10px;

				h1 {
					text-align: center;
					font-size: 35px;
					font-weight: 300;
					color: #d81b60;
				}
			}

			.login-box-body {
				background: none;
			}

		}
	}

}



