.color-brand1 {
	color: $brand1 !important;
}
.color-brand2 {
	color: $brand2 !important;
}
.color-brand3 {
	color: $brand3 !important;
}
.color-brand4 {
	color: $brand4 !important;
}
.color-brand5 {
	color: $brand5 !important;
}


.bg-brand1 {
	background-color: $brand1 !important;
}
.bg-brand2 {
	background-color: $brand2 !important;
}
.bg-brand3 {
	background-color: $brand3 !important;
}
.bg-brand4 {
	background-color: $brand4 !important;
}
.bg-brand5 {
	background-color: $brand5 !important;
}
