//colors
$comment_grey: #78828C;
$comment_light_grey: #c8d2dc;
$vote_red: #ff0000;
$vote_green: #00B400;
$has_voted: #ff0000;

$main_text_color: #666;
$grey_text_color: #aaa;

$divider_grey: #bbb;

$comment_indent: #C8CDD2;

ul.comment-tree {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;

	> li {
		.comment-item {
			color: $main_text_color;
		}

		.comment-meta {
			color: $grey_text_color;

			.comment-votes {
				.vote-up {
					margin-right: 4px;
					color: $comment_grey;
					i.voted {
						color: $vote_green;
						opacity: 0.5;
					}
				}

				.vote-down {
					margin-left: 4px;
					color: $comment_grey;
					i.voted {
						color:  $vote_red;
						opacity: 0.5;
					}
				}

				.vote-score {
					min-width: 30px;
					font-size: 13px;
					text-align: center;
					color: $main_text_color;

					&.score-green {
						color: $vote_green;
					}

					&.score-red {
						color: $vote_red;
					}
				}
			}
		}

		.comment-actions {
			.comment-button {
				display: inline-block;
				width: auto;
				margin-right:10px;
				padding: 2px 8px 4px 8px;
				background-color: $pure-white;
				border: solid 1px $comment_light_grey;
				color: $comment_grey;
				font-size: 13px;
				line-height: 13px;
				&:hover {
					background-color: $comment_grey;
					border-color: $comment_grey;
					color: $pure-white;
				}
			}
			.comment-flag {
				color: $comment_grey;
			}
		}

		.comment-form {
			.new-comment-body {
				margin: 10px 0;
			}
			.button-comment-submit {
				background-color: $brand1;
				color: $pure-white;
			}
		}

		.comment-divider {
			margin: 6px 0;
			border-bottom: solid 1px $divider_grey;
		}

		ul.comment-replies {
			list-style: none;
			padding-inline-start: 15px;
			border-left: solid 8px $comment_indent;

			> li {
				.reply-item {
					color: $main_text_color;
				}

				.reply-meta {
					color: $grey_text_color;

					.reply-votes {
						.vote-up {
							margin-right: 6px;
							color: $comment_grey;
							i.voted {
								color:  $vote_green;
								opacity: 0.5;
							}
						}

						.vote-down {
							margin-left: 6px;
							color: $comment_grey;
							i.voted {
								color:  $vote_red;
								opacity: 0.5;
							}
						}
						.vote-score {
							min-width: 30px;
							font-size: 13px;
							text-align: center;
							color: $main_text_color;

							&.score-green {
								color: $vote_green;
							}

							&.score-red {
								color: $vote_red;
							}
						}
					}
				}

				.reply-actions {
					.reply-button {
						display: inline-block;
						width: auto;
						margin-right:10px;
						padding: 2px 8px 4px 8px;
						background-color: $pure-white;
						border: solid 1px $comment_light_grey;
						color: $comment_grey;
						font-size: 13px;
						line-height: 13px;
						&:hover {
							background-color: $comment_grey;
							border-color: $comment_grey;
							color: $pure-white;
						}
					}
					.reply-flag {
						color: $comment_grey;
					}

				}

				.reply-form {
					.new-comment-body {
						margin: 10px 0;
					}
					.button-comment-submit {
						background-color: $brand1;
						color: $pure-white;
					}
				}

				.reply-divider {
					margin: 6px 0;
					border-bottom: solid 1px $divider_grey;
				}
			}
		}
	}

}

.comment-form {
	.new-comment-body {
		margin-bottom: 15px;
	}
	.button-comment-submit {
		background-color: $brand1;
		color: $pure-white;
	}
}

.reply-not-logged-in {
	padding:10px;
	background-color:#f6f8fa;
}