/* override cookie consent hover style */

.cc-window {
	background-color: #e6ebf0 !important; ;
}

.cc-btn {
	background-color:#ffd422 !important;
	color:#222 !important;
	border-color:transparent;
}
.cc-btn:hover {
	background-color:#1da1f2 !important;
	color:#fff !important;
}