/*------------------------------------------------------------------
[Events]
*/

$calendar-color: #c80000;

.event-date-container {

	margin:0 auto;
	width:50px;
	border:solid 1px $calendar-color;

	.event-date-month {
		background-color: $calendar-color;
		font-size:14px;
		font-weight:500;
		text-align:center;
		color:#fff;
	}

	.event-date-day {
		background-color: #fff;
		font-size:14px;
		font-weight:500;
		text-align:center;
		color:#000;
	}
}

.event-date-container-small {

	margin:0 auto;
	width:50px;
	border:solid 1px $calendar-color;

	.event-date-month {
		background-color: $calendar-color;
		font-family: Roboto, sans-serif;
		font-size:14px;
		font-weight:500;
		text-align:center;
		color:#fff;
	}

	.event-date-day {
		background-color: #fff;
		font-family: Roboto, sans-serif;
		font-size:14px;
		font-weight:500;
		text-align:center;
		color:#000;
	}
}

.event-list-title {
	font-size:20px;
	font-weight:400;
}

.event-widget-title {
	font-size:14px;
	font-weight:400;
	line-height: 1.2;
	color: #222;
}

td.event-table-white {
	background-color:rgba(255,255,255,0.75);
}

td.event-table-grey {
	background-color: #f4f6f8;
}

.table-striped {
	> tbody > tr:nth-of-type(even) {
		background-color: rgba(255,255,255,0.75);
	}
}
