/*------------------------------------------------------------------
[Footer]
*/

//colors
$color_log_cabin_approx: #222222;
$color_mine_shaft_approx: #333333;
$white: #ffffff;

.footer {
	background-color: $color_log_cabin_approx;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
	padding: 70px 0 0;
	.widget-title {
		border-color: $color_mine_shaft_approx;
	}
	.copyright {
		border-top: 1px solid $color_mine_shaft_approx;
		padding: 20px 0;
		margin: 35px 0 0;
	}
	.subfooter {
		border-top: 1px solid $white;
		padding-top: 70px;
		margin-top: 70px;
	}
	&.parallax {
		background-color: transparent;
	}
	* {
		color: $white;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: inherit;
		}
		&:focus {
			text-decoration: none;
			color: inherit;
		}
	}
	.list-inline {
		margin-left: -15px;
		> li {
			padding-left: 15px;
			padding-right: 15px;
			a {
				text-decoration: none;
			}
		}
	}
	.bottom-line:before {
		border-bottom: 2px solid $color_mine_shaft_approx;
	}
	.widget .recent-posts > li {
		border-color: $color_mine_shaft_approx;
	}
}
.scroll-top {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	border: 2px solid $white;
	padding: 6px 13px;
	font-size: 18px;
	opacity: 0.5;
}
.footer-minimal {
	padding: 140px 0;
}
@media(max-width: 767px) {
	.footer .scroll-top {
		display: none;
	}
}
