/*------------------------------------------------------------------
[Header Search]
*/

//colors
$color_mine_shaft_95_approx: rgba(40, 50, 60, 0.95);
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);

.header-search-form {
	background: $color_mine_shaft_95_approx;
	display: inline-block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.5s ease;
	&.opened {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.header-search-form-close {
	position: absolute;
	top: 50px;
	right: 40px;
	font-size: 24px;
}

.form-close-btn {
	color: $white;
	&:hover {
		color: $white_80;
	}
}

.search-form-inner {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	input {
		background: rgba(255, 255, 255, 0.9);
		width: 100%;
		height: 45px;
		border: none;
		font-size: 24px;
		color: #444;
		text-align: center;
		&:focus {
			border-color: transparent;
			box-shadow: none;
			outline: none;
		}
	}
	i {
		font-size: 24px;
	}
	button {
		height: 45px;
	}
}

@media(max-width: 1024px) {
	.search-form-inner input {
		font-size: 20px;
	}
}

@media(max-width: 768px) {
	.search-form-inner input {
		font-size: 16px;
	}
}