/*------------------------------------------------------------------
[Modules]
*/

//colors
$white: #ffffff;
$color_gallery_approx: #eeeeee;

.module {
	background-color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
	padding: 140px 0;
	&.divider-top {
		border-top: 1px solid $color_gallery_approx;
	}
	&.divider-bottom {
		border-bottom: 1px solid $color_gallery_approx;
	}
	&.parallax {
		background-color: transparent;
	}
}
.module-sm {
	background-color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
	padding: 70px 0;
	&.divider-top {
		border-top: 1px solid $color_gallery_approx;
	}
	&.divider-bottom {
		border-bottom: 1px solid $color_gallery_approx;
	}
	&.parallax {
		background-color: transparent;
	}
}
.module-xs {
	background-color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
	padding: 140px 0;
	padding: 35px 0;
	&.divider-top {
		border-top: 1px solid $color_gallery_approx;
	}
	&.divider-bottom {
		border-bottom: 1px solid $color_gallery_approx;
	}
	&.parallax {
		background-color: transparent;
	}
}
.module-header {
	margin: 0 0 70px;
	h1 {
		margin-bottom: 10px;
	}
	.h1 {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 10px;
	}
	.h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-bottom: 10px;
	}
	.h3 {
		margin-bottom: 10px;
	}
	h4 {
		margin-bottom: 10px;
	}
	.h4 {
		margin-bottom: 10px;
	}
	h5 {
		margin-bottom: 10px;
	}
	.h5 {
		margin-bottom: 10px;
	}
	h6 {
		margin-bottom: 10px;
	}
	.h6 {
		margin-bottom: 10px;
	}
}
.no-gutter {
	margin-right: 0;
	margin-left: 0;
	> [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}
.pull-image {
	.container {
		position: relative;
		> div[class*='col-'] {
			position: absolute;
		}
	}
	.vertical-middle {
		position: relative;
		top: 50%;
		z-index: 2;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0, -50%, 0);
	}
	.pull-image-right {
		right: 0;
	}
}
@media(max-width: 990px) {
	.pull-image .container div[class*='col-'] {
		position: relative;
		top: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: none;
	}
}
.side-background {
	position: relative;
	padding: 0;
	.background-container {
		position: absolute;
		overflow: hidden;
		height: 100%;
		padding: 0;
		top: 0;
	}
	.background-side {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover !important;
		z-index: 0;
		background-position: 50% 50% !important;
		&.start-top {
			background-position: 0 0 !important;
		}
		&.start-bottom {
			background-position: 100% 0 !important;
		}
	}
	.content-side {
		padding-top: 140px;
		padding-bottom: 140px;
	}
}