/*------------------------------------------------------------------
[Pagination]
*/

//colors
$color_gallery_approx: #eeeeee;
$color_tapa_approx: #777777;

$white: #ffffff;

.pagination {
	display: block;
	> li {
		display: inline-block;
		> a {
			display: block;
			border: 1px solid $color_gallery_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			padding: 8px 15px;
			float: none;
			color: $color_tapa_approx;
			&:hover {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
			&:focus {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
		}
		> span {
			display: block;
			border: 1px solid $color_gallery_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			padding: 8px 15px;
			float: none;
			color: $color_tapa_approx;
			&:hover {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
			&:focus {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
		}
		&:first-child {
			> a {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
			}
			> span {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
			}
		}
	}
	> .active {
		> a {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
			&:hover {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
			&:focus {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
		}
		> span {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
			&:hover {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
			&:focus {
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
		}
	}
}
.pager li {
	> a {
		border: 1px solid $color_gallery_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 8px 15px;
		float: none;
		line-height: 1.42857143;
		color: $color_tapa_approx;
		&:hover {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
		}
		&:focus {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
		}
	}
	> span {
		border: 1px solid $color_gallery_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 8px 15px;
		float: none;
		line-height: 1.42857143;
		color: $color_tapa_approx;
		&:hover {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
		}
		&:focus {
			background: $brand-primary;
			border-color: $brand-primary;
			color: $white;
		}
	}
}
