/*------------------------------------------------------------------
[Play Button]
*/

//colors
$black: #000000;
$color_charlotte_70_approx: rgba(194, 244, 246, 0.7);
$white: #ffffff;

.play-btn {
	border: 2px solid $black;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	color: $black;
	width: 75px;
	font-size: 18px;
	height: 75px;
	line-height: 72px;
	padding: 0 0 0 5px;
	margin: 0 20px;
	display: inline-block;
	text-align: center;
	position: relative;
	animation: pulse 1.2s infinite cubic-bezier(0.8, 0, 0, 1);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 0 0 $color_charlotte_70_approx;
	&.white {
		border-color: $white;
		color: $white;
	}
}
@-webkit-keyframes pulse {
	to {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 45px rgba(194, 244, 246, 0);
	}
}
@keyframes pulse {
	to {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 45px rgba(194, 244, 246, 0);
	}
}