/*------------------------------------------------------------------
[Progress Bars]
*/

//colors
$color_wild_sand_approx: #f5f5f5;

$color_mine_shaft_approx: #333333;
$color_fern_approx: #5cb85c;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_chestnut_rose_approx: #d9534f;

.progress {
	background-color: $color_wild_sand_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	height: 4px;
	margin-bottom: 20px;
	overflow: visible;
}
.progress-bar {
	position: relative;
	background-color: $brand-primary;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 28px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	color: $color_mine_shaft_approx;
	> span {
		position: absolute;
		padding: 4px 0;
		display: block;
		top: -27px;
		right: 0;
		opacity: 0;
		line-height: 12px;
		font-size: 12px;
	}
	&.progress-bar-success {
		background-color: $color_fern_approx;
	}
	&.progress-bar-info {
		background-color: $color_viking_approx;
	}
	&.progress-bar-warning {
		background-color: $color_casablanca_approx;
	}
	&.progress-bar-danger {
		background-color: $color_chestnut_rose_approx;
	}
}
.progress-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	font-weight: 700;
	margin: 0 0 10px;
	padding: 0;
}
