/*------------------------------------------------------------------
[Screenshots]
*/

//colors
$color_desert_storm_approx: #f8f8f8;

.screenshots .screenshot {
	background: $color_desert_storm_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	padding: 10px;
	margin: 0 0 30px;
	img {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		width: 100%;
	}
}