/*------------------------------------------------------------------
[Tables]
*/

//colors
$color_log_cabin_approx: #222222;
$color_gallery_approx: #eeeeee;

.table {
	> thead > tr {
		> th {
			border-bottom: 1px solid $color_gallery_approx;
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
		> td {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
	}
	> tbody > tr {
		> th {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
		> td {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
	}
	> tfoot > tr {
		> th {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
		> td {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px;
		}
	}
}
.table-bordered {
	border: 1px solid $color_gallery_approx;
	> thead > tr {
		> th {
			border-color: $color_gallery_approx;
		}
		> td {
			border-color: $color_gallery_approx;
		}
	}
	> tbody > tr {
		> th {
			border-color: $color_gallery_approx;
		}
		> td {
			border-color: $color_gallery_approx;
		}
	}
	> tfoot > tr {
		> th {
			border-color: $color_gallery_approx;
		}
		> td {
			border-color: $color_gallery_approx;
		}
	}
}
@media screen and (max-width: 767px) {
	.table-responsive {
		border: 0;
		margin-bottom: 0;
	}
}
table th {
	font-weight: 600;
	color: $color_log_cabin_approx;
}
