/*------------------------------------------------------------------
[Tabs and Accordions]
*/

//colors
$color_gallery_approx: #eee;
$color_tapa_approx: #777777;


.nav-tabs {
	border-bottom: 1px solid $color_gallery_approx;
	> li.active > a {
		border: 1px solid $color_gallery_approx;
		border-bottom-color: transparent;
		color: $color_tapa_approx;
		&:hover {
			border: 1px solid $color_gallery_approx;
			border-bottom-color: transparent;
			color: $color_tapa_approx;
		}
		&:focus {
			border: 1px solid $color_gallery_approx;
			border-bottom-color: transparent;
			color: $color_tapa_approx;
		}
	}
	+ .tab-content {
		border: 1px solid $color_gallery_approx;
		border-top: 0;
		padding: 20px 15px;
		*:last-child {
			margin-bottom: 0;
		}
	}
}
.nav-text-tabs {
	border-bottom: 2px solid $color_gallery_approx;
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: inline-block;
		> a {
			position: relative;
			display: block;
			padding: 10px 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
			font-size: 12px;
			color: $color_tapa_approx;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: $brand-primary;
				bottom: 10px;
				opacity: 0;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.3s ease;
				bottom: -2px;
				left: 0;
			}
		}
		&.active > a {
			color: $brand-primary;
			&:after {
				opacity: 1;
			}
		}
	}
	+ .tab-content {
		padding: 20px 0;
	}
}
@media(max-width: 527px) {
	.nav-text-tabs > li {
		border-top: 1px solid $color_gallery_approx;
		text-align: center;
		display: block;
		> a {
			padding: 20px 15px;
			&:after {
				content: none;
			}
		}
	}
}
.panel-title {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 12px;
}
.panel-heading a {
	position: relative;
	display: block;
	&:after {
		position: absolute;
		content: "\f107";
		top: 50%;
		right: 0;
		margin-top: -5px;
		font-family: FontAwesome;
		font-size: 11px;
		line-height: 1;
	}
	&.collapsed:after {
		content: "\f105";
	}
}
.panel-default > .panel-heading {
	border: 0;
	background: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	border-top: 1px solid $color_gallery_approx;
	padding: 20px 15px;
	+ .panel-collapse > .panel-body {
		border-top-color: $color_gallery_approx;
	}
}
.panel-group .panel {
	border: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	&:last-child {
		border-bottom: 1px solid $color_gallery_approx;
	}
	+ .panel {
		margin-top: 0;
	}
}
