/*------------------------------------------------------------------
[Team]
*/

//colors
$white: #ffffff;
$color_java_90_approx: rgba(39, 203, 192, 0.9);
$color_mine_shaft_90_approx: rgba(51, 51, 51, 0.9);
$white_90: rgba(255, 255, 255, 0.9);
$color_mine_shaft_approx: #333333;

.team-item {
	text-align: center;
	&:hover {
		.team-social {
			opacity: 1;
		}
		.team-photo:after {
			background: $color_java_90_approx;
		}
	}
	&.team-item-dark:hover .team-photo:after {
		background: $color_mine_shaft_90_approx;
	}
	&.team-item-white:hover .team-photo:after {
		background: $white_90;
	}
}
.team-photo {
	position: relative;
	overflow: hidden;
	> img {
		width: 100%;
	}
	&:after {
		background: transparent;
		position: absolute;
		display: block;
		content: " ";
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-in-out 0s;
	}
}
.team-social {
	position: absolute;
	padding: 20px;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 2;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out 0s;
	> div {
		display: table;
		height: 100%;
		width: 100%;
		> div {
			vertical-align: middle;
			display: table-cell;
		}
	}
	a {
		display: inline-block;
		padding: 0 15px;
		font-size: 24px;
		color: $white;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-in-out 0s;
		&:hover {
			opacity: 0.7;
		}
	}
}
.team-inner {
	margin: 25px 0;
}
.team-name {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0;
}
.team-role {
	font-size: 13px;
}
.team-item-white .team-social a {
	color: $color_mine_shaft_approx;
}
