/*------------------------------------------------------------------
[Testimonials]
*/

//colors
$white: #fff;


.testimonial-image {
	text-align: center;
	img {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 100%;
		margin-right: 15px;
		max-width: 75px;
		display: inline-block;
		vertical-align: middle;
	}
	.cd-author-info {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
}
.testimonial {
	text-align: center;
	border: 0;
	padding: 0;
	margin: 35px 0 0;
	font-size: 16px;
}
.slider-testimonial {
	.owl-item {
		padding: 0 100px;
	}
	.owl-pagination {
		margin: 30px 0 0;
	}
	.owl-page {
		span {
			background: $white;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 0 3px transparent;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			display: block;
			height: 10px;
			width: 10px;
			opacity: 0.5;
			zoom: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(0.8);
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease-in-out;
		}
		&.active span {
			background: transparent;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 0 3px $white;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(0.9);
			opacity: 1;
			zoom: 1;
		}
	}
	&.owl-theme .owl-controls .owl-buttons div {
		background: none;
		padding: 0;
		margin: 0;
		opacity: 1;
		font-size: 20px;
		&.owl-prev {
			position: absolute;
			left: 0;
			top: 50%;
			margin: -10px 0 0;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease-out;
			&:hover {
				opacity: 0.7;
			}
		}
		&.owl-next {
			position: absolute;
			right: 0;
			top: 50%;
			margin: -10px 0 0;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease-out;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
@media(max-width: 767px) {
	.testimonial-image {
		.cd-author-info {
			display: block;
			margin: 0 auto 15px;
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto 15px;
			text-align: center;
		}
	}
}
.owl-controls-brand .owl-page {
	span {
		background: $brand-primary;
	}
	&.active span {
		background: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 3px $brand-primary;
	}
}
