/*------------------------------------------------------------------
[Typography]
*/

//colors

$color_jungle_green_approx: #1fa098;
$color_log_cabin_approx: #222222;
$color_desert_storm_approx: #f8f8f8;
$color_gallery_approx: #eeeeee;
$white: #ffffff;
$color_wild_sand_approx: #f5f5f5;
$color_tapa_approx: #777777;
$color_mountain_mist_approx: #999999;
$black: #000000;
$color_mine_shaft_approx: #333333;
$color_azure_approx: #3b5998;
$color_cerulean_approx: #00aced;
$color_valencia_approx: #dd4b39;
$color_deep_cerulean_approx: #007bb6;
$color_guardsman_red_approx: #bb0000;
$color_wedgewood_approx: #517fa4;
$color_cardinal_approx: #cb2027;
$color_rose_approx: #ff0084;
$color_san_juan_approx: #32506d;
$color_french_rose_approx: #ea4c89;
$color_caribbean_green_approx: #00bf8f;
$color_dodger_blue_approx: #17a3eb;
$color_curious_blue_approx: #2592c3;
$color_crusta_approx: #ff7e30;
$color_outrageous_orange_approx: #ff5c30;
$color_viridian_green_approx: #6a8a7b;
$color_fuchsia_pink_approx: #ab47ac;
$color_raven_approx: #75788d;
$color_boston_blue_approx: #3f91cb;
$color_pomegranate_approx: #f34320;
$color_blumine_approx: #2b587a;

a {
	color: $link-color;
	&:hover {
		outline: 0;
		text-decoration: none;
		color: $link-hover-color;
	}
	&:focus {
		outline: 0;
		text-decoration: none;
		color: $link-hover-color;
	}
	&.isdisabled {
		pointer-events: none;
		cursor: default;
	}
}
h1 {
	margin: 0 0 20px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 32px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 7px;
		margin-right: -7px;
	}
}
.h1 {
	margin: 0 0 20px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 32px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 7px;
		margin-right: -7px;
	}
}
h2 {
	margin: 0 0 20px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 26px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 5px;
		margin-right: -5px;
	}
}
.h2 {
	margin: 0 0 20px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 26px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 5px;
		margin-right: -5px;
	}
}
h3 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 18px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 5px;
		margin-right: -5px;
	}
}
.h3 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 18px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 5px;
		margin-right: -5px;
	}
}
h4 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 16px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 3px;
		margin-right: -3px;
	}
}
.h4 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 16px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 3px;
		margin-right: -3px;
	}
}
h5 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 14px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 1px;
		margin-right: -1px;
	}
}
.h5 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 14px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 1px;
		margin-right: -1px;
	}
}
h6 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 12px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 1px;
		margin-right: -1px;
	}
}
.h6 {
	margin: 0 0 20px;
	margin: 0 0 10px;
	line-height: 1.2;
	font-weight: 600;
	color: $color_log_cabin_approx;
	font-size: 12px;
	a {
		color: $color_log_cabin_approx;
	}
	&.text-uppercase {
		letter-spacing: 1px;
		margin-right: -1px;
	}
}
p {
	margin: 0 0 20px;
}
ul {
	margin: 0 0 20px;
}
ol {
	margin: 0 0 20px;
}
blockquote {
	margin: 0 0 20px;
	border: 0;
	background: $color_desert_storm_approx;
	font-style: italic;
	font-size: 16px;
	padding: 25px;
}
.montserrat {
	font-family: Montserrat, Arial, serif;
	font-weight: 700;
}
.lead {
	line-height: 1.8;
	font-weight: 400;
	font-size: 16px;
}
hr {
	margin: 15px 0;
}
.bottom-line {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		border-bottom: 2px solid $color_gallery_approx;
	}
	&:after {
		content: "";
		display: block;
		width: 35px;
		border-bottom: 2px solid $brand-primary;
		margin: 20px auto 25px 0;
		z-index: 1;
		position: relative;
	}
	&.text-right:after {
		margin: 20px 0 25px auto;
	}
	&.text-center:after {
		margin: 20px auto 25px;
	}
}
.dash-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin: 0 0 5px;
		&:before {
			display: inline-block;
			content: "-";
			margin-right: 12px;
		}
	}
}
.color-white {
	color: $white !important;
}
.color-white-dark {
	color: $color_desert_storm_approx !important;
}
.color-white-darken {
	color: $color_wild_sand_approx !important;
}
.color-gray {
	color: $color_tapa_approx !important;
}
.color-gray-light {
	color: $color_mountain_mist_approx !important;
}
.color-gray-lighter {
	color: $color_gallery_approx !important;
}
.color-black {
	color: $black !important;
}
.color-black-light {
	color: $color_log_cabin_approx !important;
}
.color-black-lighter {
	color: $color_mine_shaft_approx !important;
}
.color-brand {
	color: $brand-primary !important;
}
.color-brand-hvr {
	color: $color_jungle_green_approx !important;
}
.color-facebook {
	color: $color_azure_approx !important;
}
.color-twitter {
	color: $color_cerulean_approx !important;
}
.color-google {
	color: $color_valencia_approx !important;
}
.color-linkedin {
	color: $color_deep_cerulean_approx !important;
}
.color-youtube {
	color: $color_guardsman_red_approx !important;
}
.color-instagram {
	color: $color_wedgewood_approx !important;
}
.color-pinterest {
	color: $color_cardinal_approx !important;
}
.color-flickr {
	color: $color_rose_approx !important;
}
.color-tumblr {
	color: $color_san_juan_approx !important;
}
.color-forusquare {
	color: $color_deep_cerulean_approx !important;
}
.color-dribbble {
	color: $color_french_rose_approx !important;
}
.color-vine {
	color: $color_caribbean_green_approx !important;
}
.color-skype {
	color: $color_dodger_blue_approx !important;
}
.color-wordpress {
	color: $color_curious_blue_approx !important;
}
.color-behance {
	color: $color_dodger_blue_approx !important;
}
.color-soundcloud {
	color: $color_crusta_approx !important;
}
.color-stumbleupon {
	color: $color_outrageous_orange_approx !important;
}
.color-deviantart {
	color: $color_viridian_green_approx !important;
}
.color-yahoo {
	color: $color_fuchsia_pink_approx !important;
}
.color-digg {
	color: $color_raven_approx !important;
}
.color-github {
	color: $color_boston_blue_approx !important;
}
.color-lastfm {
	color: $color_pomegranate_approx !important;
}
.color-vk {
	color: $color_blumine_approx !important;
}
[class*="color-"] {
	*:not(.btn) {
		color: inherit !important;
	}
	a:not(.btn) {
		color: inherit !important;
		&:hover {
			opacity: 0.7;
		}
		&:focus {
			opacity: 0.7;
		}
	}
}
.text-xxxxs {
	font-size: 10px;
}
.text-xxxs {
	font-size: 11px;
}
.text-xxs {
	font-size: 12px;
}
.text-xs {
	font-size: 13px;
}
.text-xl {
	font-size: 40px;
}
.text-xxl {
	font-size: 48px;
}
.text-xxxl {
	font-size: 56px;
}
.text-xxxxl {
	font-size: 64px;
}
.text-xxxxxl {
	font-size: 72px;
}
.text-super-xl {
	font-size: 110px;
}
@media(max-width: 1023px) {
	.text-super-xl {
		font-size: 72px;
	}
}
@media(max-width: 767px) {
	.text-xl {
		font-size: 24px;
	}
	.text-xxl {
		font-size: 32px;
	}
	.text-xxxl {
		font-size: 36px;
	}
	.text-xxxxl {
		font-size: 40px;
	}
	.text-xxxxxl {
		font-size: 44px;
	}
	.text-super-xl {
		font-size: 48px;
	}
}
@media(max-width: 568px) {
	.text-super-xl {
		font-size: 34px;
	}
}
@media(max-width: 320px) {
	.text-super-xl {
		font-size: 26px;
	}
}
.text-100 {
	font-weight: 100 !important;
}
.text-200 {
	font-weight: 200 !important;
}
.text-300 {
	font-weight: 300 !important;
}
.text-400 {
	font-weight: 400 !important;
}
.text-500 {
	font-weight: 500 !important;
}
.text-600 {
	font-weight: 600 !important;
}
.text-700 {
	font-weight: 700 !important;
}
.text-800 {
	font-weight: 800 !important;
}
.text-900 {
	font-weight: 900 !important;
}
.divider-line:after {
	display: block;
	background: $brand-primary;
	content: " ";
	margin: 20px auto 20px 0;
	opacity: 0.6;
	height: 2px;
	width: 50px;
}
.text-center .divider-line:after {
	margin: 20px auto 0;
}
.text-right .divider-line:after {
	margin: 20px 0 20px auto;
}

.font-10 {
	font-size: 10px;
}
.font-12 {
	font-size: 12px;
}
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px;
}
.font-20 {
	font-size: 20px;
}
.font-22 {
	font-size: 22px;
}
.font-24 {
	font-size: 24px;
}
.font-26 {
	font-size: 26px;
}
.font-28 {
	font-size: 28px;
}
.font-30 {
	font-size: 30px;
}
.font-32 {
	font-size: 32px;
}
.font-34 {
	font-size: 34px;
}
.font-36 {
	font-size: 36px;
}
.font-38 {
	font-size: 38px;
}
.font-40 {
	font-size: 40px;
}
.font-42 {
	font-size: 42px;
}
.font-44 {
	font-size: 44px;
}
.font-46 {
	font-size: 46px;
}
.font-48 {
	font-size: 48px;
}
.font-50 {
	font-size: 50px;
}
.font-52 {
	font-size: 52px;
}
.font-54 {
	font-size: 54px;
}
.font-56 {
	font-size: 56px;
}
.font-58 {
	font-size: 58px;
}
.font-60 {
	font-size: 60px;
}