/*------------------------------------------------------------------
[Widgets]
*/

//colors
$color_gallery_approx: #eee;
$color_mountain_mist_approx: #999999;

$grey-hover-light: #e6ebf0;


.widget {
	margin: 0 0 40px;
	.recent-posts {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px 0;
			&:before {
				content: " ";
				display: table;
			}
			&:after {
				content: " ";
				display: table;
				clear: both;
			}
			&:first-child {
				border: 0;
				padding-top: 0;
			}
		}
		a {
			text-decoration: none;
			&:hover {
				opacity: 0.7;
			}
			&:focus {
				opacity: 0.7;
			}
		}
	}
	address {
		line-height: 1.8;
	}
	.top-rated {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			border-top: 1px solid $color_gallery_approx;
			padding: 10px 0;
			display: table;
			width: 100%;
			&:first-child {
				padding-top: 0;
				border: 0;
			}
		}
		.top-rated-body {
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 14px;
		}
		.top-rated-image {
			display: table-cell;
			vertical-align: middle;
			width: 70px;
		}
	}
	> *:last-child {
		margin-bottom: 0;
	}
	.links-list a:hover {
		opacity: 0.7;
	}
}
.widget-posts-image {
	float: left;
	width: 44px;
}
.widget-posts-body {
	margin-left: 58px;
}
.widget-posts-title {
	margin: 2px 0;
}
.widget-posts-meta {
	font-size: 11px;
	opacity: 0.7;
}
.twitter-feed {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li:before {
			position: relative;
			top: 6px;
			float: left;
			display: inline-block;
			content: "\f099";
			font-family: FontAwesome;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			font-size: 13px;
		}
	}
	.user {
		display: none;
	}
	.timePosted {
		display: none;
	}
	.interact {
		display: none;
	}
	p {
		position: relative;
		padding-left: 20px;
	}
}
.icons-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		border-top: 1px solid $color_gallery_approx;
		padding: 10px 0;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
	}
	a {
		color: $color_mountain_mist_approx;
		&:hover {
			color: $brand-primary;
		}
		&:focus {
			color: $brand-primary;
		}
		> {
			.fa {
				padding-left: 5px;
			}
			.icons {
				padding-left: 5px;
			}
		}
	}
}
.links-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin: 0 0 15px;
		a {
			text-decoration: none;
		}
	}
}
address.map-background {
	background: url(../images/map.png) no-repeat left;
}

.sidebar {
	.widget {

		.widget-title {
			margin-bottom: 10px;
			color: $brand3;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 1px;
		}

		ul.widget-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li.widget-item {
				margin: 0;
				padding: 0;

				a {
					display: block;
					color: $text-color;

					&:hover {
						color: $text-color;
						background-color: $grey-hover-light;
					}

					.widget-item-title {
						font-size: 13px;
					}

					.widget-item-lead {
						font-size: 10px;
						line-height: 1.2;
						color: #999;
					}
				}
			}
		}
	}
}

.footer {
	.widget {
		margin: 0;
	}
}
